{% extends "tamamsazeh/base.html" %}
{% block aboutUs %}text-warning{% endblock %}

{% block content %}
    <style>
        body {
            background-color: #ffc107;
        }
        .box {
            border-radius: 10px;
            padding: 30px;
            margin: 50px;
        }

        .header-font {
            font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        }

        .aboutus-font {
            font-family: 'Cardo', serif;
            color: black;
        }
    </style>
    <br>

    <div class="row bg-warning align-right w-50 box " style="opacity:0.85!important;">

        <p>
        <h1 class="header-font aboutus-font" style="font-weight: bold">Tamamsaze co.
        </h1>
        <br>
        <h2 class="aboutus-font">
            founded in 1995 and by having experienced and professional staff and having
            grade 3 in building field
            grade 5 in mechanical works and water project from Management and Programing Organization of IRAN
            , is ready and willing to cooperate with your organization in various projects and fields,
            including building and erecting steel structure in industrial project, concrete structure,
            site preparation, gas and water piping ,instrument installation and maintenance.
            We are proud that
            we have been succeeding to get official satisfaction form all of our clients.
        </h2>
        </p>
    </div>
    <br>
    <br>
    <br>
{% endblock %}