{% extends "tamamsazehFa/base.html" %}
{% block aboutUs %}text-warning{% endblock %}
{% block content %}
    <style>
body {
 background-color: #171a1d;
}
    .box{
        border-radius: 10px;
        padding: 30px;
        margin: 50px;
    }
.aboutus-font{
    color: black;
    direction: rtl;!important;
}
</style>
   <div class="bg-warning float-right align-right w-50 box">
       <p>
       <h1 class="header-font aboutus-font text-right text-header" style="font-weight: bold;">شرکت ساختمانی تمام سازه سپاهان</h1>
        <h2 class="aboutus-font text-right text-font" style="font-size: 30px!important;">
         با داشتن کادر متخصص و کار آزموده و احراز رتبه سه  ابنیه ، پنج تاسیسات و پنج آب  از سازمان مدیریت و برنامه ریزی کشور آمادگی خود را جهت اجرای انواع پروژه های ساختمانی، همچنین سایر پروژه ها مانند ساخت و نصب اسکلت های فلزی سالن های صنعتی ، محوطه سازی ، آبرسانی ، راهسازی، نصب، نگهداری و تعمیرات کارخانجات اعلام می کند. این شرکت افتخار می کند که موفق به اخذ رضایت نامه از کلیه کارفرمایان خود شده است.
        </h2>
{#   </h1>#}

   </p>
   </div>
{% endblock %}