{% extends "tamamsazehFa/base.html" %}
{% block certifications %}text-warning{% endblock %}
{% block content %}
<style>
body {
     direction: rtl;!important;
 {#background-image: url("/static/img/wallpaper/background4.jpg");#}
background-size: 1800px;
 background-color: #ffc107 ;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
#myContainer{
    text-align: center;
  list-style-type: none;

}
#insider{
    display: inline-block;
    text-align: right;
    list-style-type: none;

}
#noPadding{
    padding-left: 0;
    padding-right: 0;
}
.image{
    width: 800px;
}

.color{
    background: #16181b;
}
</style>

    <div class="container " id="myContainer">
    <ul class="container" id="insider">
        <li>
        <div class="container text-white rounded bg-dark row">
            <div class=" p-4 p-md-5 text-white rounded bg-dark w-100">
                <h1  style="padding: 10px;font-family: Zar;!important;font-size: 50px;margin-top: 10px;">تاییدیه ها و مدارک</h1>
                <h2 style="padding: 10px;font-family: Zar;!important;font-size: 40px;margin-top: 10px;">این شرکت افتخار می کند که موفق به اخذ رضایت نامه از کلیه کارفرمایان خود شده است.</h2>
            </div>
        </div>
        </li>
        <br>
        <br>
        <br>
        <li>
        <div class="container text-white rounded bg-dark row" id="noPadding" >
            <ul  style="font-family: Zar;!important;font-size: 20px;margin-top: 10px;" class="col-3" id="myMenu" >
                <li {% if id == 1 %} class="color" {% endif %}><a href="/fa/certifications/1">پروژه ی شیرین سازی برش سبک نفتا</a></li>
                <li {% if id == 2 %} class="color" {% endif %}><a href="/fa/certifications/2">احداث سوله ی کوره ی زباله سوز پتروشیمی فجر</a></li>
                <li {% if id == 3 %} class="color" {% endif %}><a href="/fa/certifications/3">احداث سوله ی انبار مواد شیمیایی مجتمع پتروشیمی</a></li>
                <li {% if id == 4 %} class="color" {% endif %}><a href="/fa/certifications/4">پل عابر پیاده بر روی بزرگراه آزادگان</a></li>
                <li {% if id == 5 %} class="color" {% endif %}><a href="/fa/certifications/5">تعمیرات اساسی دودکش واحد گوگرد سازی</a></li>
                <li {% if id == 6 %} class="color" {% endif %}><a href="/fa/certifications/6">تعمیر ریل کرین خاک و گوگرد</a></li>
                <li {% if id == 7 %} class="color" {% endif %}><a href="/fa/certifications/7">تعمیر سقف انبار کود اوره</a></li>
                <li {% if id == 8 %} class="color" {% endif %}><a href="/fa/certifications/8">محوطه سازی ساختمان جدید اداری</a></li>
                <li {% if id == 9 %} class="color" {% endif %}><a href="/fa/certifications/9">تعمیر سقف DEMINE</a></li>
                <li {% if id == 10 %} class="color" {% endif %}><a href="/fa/certifications/10">جابه جایی ۳ کمپرسور هوای فشرده</a></li>
                <li {% if id == 11 %} class="color" {% endif %}><a href="/fa/certifications/11">کلانتری های نجف آباد و کوشک خمینی شهر</a></li>
                <li {% if id == 12 %} class="color" {% endif %}><a href="/fa/certifications/12">پادگان ۱۵ خرداد اصفهان</a></li>
                <li {% if id == 13 %} class="color" {% endif %}><a href="/fa/certifications/13">جایگاه تخلیه و بارگیری مواد سوختی</a></li>
                <li {% if id == 14 %} class="color" {% endif %}><a href="/fa/certifications/14">نمازخانه مرکزی شرکت برق منظقه ی اصفهان</a></li>
                <li {% if id == 15 %} class="color" {% endif %}><a href="/fa/certifications/15"> عملیات ساختمانی و لوله های زیرزمینی جایگاه تخلیه و بارگیری مجتمع پتروشیمی</a></li>
                <li {% if id == 16 %} class="color" {% endif %}><a href="/fa/certifications/16">تعمیر و بازسازی کولیگ تاور مجتمع فولاد مبارکه</a></li>
            </ul>
        <ul class="col rounded" style="width: 800px" id="myMenu">
                    {% if id == 1 %}<img class="image" src="/static/img/certification/1.png">{% endif %}
                    {% if id == 2 %}<img class="image" src="/static/img/certification/2.png">{% endif %}
                    {% if id == 3 %}<img class="image" src="/static/img/certification/3.png">{% endif %}
                    {% if id == 4 %}<img class="image" src="/static/img/certification/4.png">{% endif %}
                    {% if id == 5 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 6 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 7 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 8 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 9 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 10 %}<img class="image" src="/static/img/certification/5.png">{% endif %}
                    {% if id == 11 %}<img class="image" src="/static/img/certification/6.png">{% endif %}
                    {% if id == 12 %}<img class="image" src="/static/img/certification/7.png">{% endif %}
                    {% if id == 13 %}<img class="image" src="/static/img/certification/8.png">{% endif %}
                    {% if id == 14 %}<img class="image" src="/static/img/certification/9.png">{% endif %}
                    {% if id == 15 %}<img class="image" src="/static/img/certification/3.png">{% endif %}
                    {% if id == 16 %}<img class="image" src="/static/img/certification/10.png">{% endif %}
                </ul>
        </div>
        </li>
    </ul>
    </div>

{% endblock %}