{% extends "tamamsazehFa/base.html" %}
{% block crew %}text-warning{% endblock %}
{% block style %}
  <link rel="stylesheet" href="/static/css/chart.css">
{% endblock %}
{% block content %}
<style>
body {
    {#direction: rtl;!important;#}
    background-color: #ffc107;
    }
</style>
    <br/>
    <br/>
    <h1 class="bg-dark text-white text-center p-2" style="font-family: Zar">&nbsp; چارت سازمانی</h1>
    <br/>
    <div class="container rounded" style="background: rgba(41, 43, 44,1)">
    <img class="w-100"  src="/static/img/crew/farsi.png"/>
    </div>
{% endblock %}