<!--{% extends "tamamsazehFa/base.html" %}-->
<!--{% block projects %}text-warning{% endblock %}-->
<!--{% block css %}-->
<!--    <link rel="stylesheet" href="/static/css/slider.css">-->
<!--{% endblock %}-->
<!--{% block content %}-->
<!--    <script src="/static/js/slider.js"></script>-->
<!--{#    <meta charset="utf-8">#}-->
<!--    <style>-->
<!--        section > span {-->
<!--            position: absolute;-->
<!--            top: 50%;-->
<!--            left: 50%;-->
<!--            transform: translate(-50%, -50%);-->
<!--            color: #fff;-->
<!--        }-->

<!--        #projects {-->
<!--            background-image: url("/static/img/wallpaper/stairs.jpg");-->
<!--            background-size: cover;-->
<!--            background-position: bottom;-->
<!--        }-->

<!--        #oil {-->
<!--        {#background: #343a40;#}-->
<!--            background-image: url("/static/img/wallpaper/two.jpg");-->
<!--            background-size: cover;-->
<!--            background-position: bottom;-->

<!--        }-->

<!--        #edu {-->
<!--            background-image: url("/static/img/wallpaper/steal.jpg");-->
<!--            background-size: cover;-->

<!--        }-->

<!--        #str {-->
<!--        {#background: linear-gradient(#f0bed4, #a163f5);#}-->
<!--            background-image: url("/static/img/wallpaper/IMAG1612.jpg");-->
<!--            background-size: cover;-->
<!--            background-position: top left;-->
<!--        }-->

<!--        #ind {-->
<!--            background: url("/static/img/wallpaper/ghatar.jpg ") left bottom;-->
<!--            background-size: cover;-->
<!--        }-->

<!--        #mass {-->
<!--            background: url("/static/img/wallpaper/massproduction.jpg") left bottom;-->
<!--            background-size: cover;-->
<!--        }-->

<!--        #road {-->
<!--            background: url("/static/img/wallpaper/background5.jpg") right top;-->
<!--            background-size: 1800px;-->
<!--        }-->


<!--        .widget {-->
<!--            margin-right: 20px;-->
<!--            margin-left: 20px;-->
<!--        }-->
<!--        .title{-->
<!--            padding-right: 20px;-->
<!--            padding-left: 20px;-->
<!--            padding-top: 20px;-->
<!--        }-->
<!--    </style>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

<!--    <body>-->
<!--    <div class="slides">-->
<!--        <section id="projects">-->
<!--            <span>-->
<!--    <div class="h-100">-->
<!--    <div class="col justify-content-center text-center rounded " style="opacity: 0.75;background: #ffc107; color: black;width: 700px">-->
<!--        <br>-->
<!--        <div class="container row align-content-start justify-content-center text-center">-->
<!--        <h1 class="text-center align-content-center text-font" style=" font-size: 70pt;">پروژه ها  </h1>-->
<!--        </div>-->
<!--        <br>-->
<!--        <br>-->
<!--        <div class="container row">-->
<!--            <div class="widget col">-->
<!--                <img src="/static/img/warranty.svg" height="60px" width="60px">-->
<!--                <h2 class="text-font" >۱۰۰+ پروژه</h2>-->
<!--            </div>-->
<!--            <div class="widget col">-->
<!--                <img src="/static/img/warranty.svg " height="60px" width="60px">-->
<!--                <h2 class="text-font">۸ شهر</h2>-->
<!--            </div>-->
<!--            <div class="widget col">-->
<!--                <img src="/static/img/warranty.svg" height="60px" width="60px">-->
<!--                <h2 class="text-font">۵۰+ کارکنان</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->

<!--      </span></section>-->
<!--        <section id="oil"><span>-->
<!--            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">نفت گاز پتروشیمی</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->
<!--                            {% if item.genre == '1' %}-->
<!--                                <tr>-->
<!--                                  <th scope="row">-</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                      </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            </span></section>-->
<!--        <section id="edu"><span>-->

<!--            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">مراکز علمی آموزشی و فرهنگی</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->
<!--                            {% if item.genre == '2' %}-->
<!--                                <tr>-->
<!--                                  <th scope="row">-</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                      </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </span></section>-->
<!--        <section id="str"><span>-->
<!--            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">سازه های فلزی و پلها</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->
<!--                            {% if item.genre == '3' %}-->
<!--                                <tr>-->
<!--                                  <th scope="row">-</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                            </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </span></section>-->











<!--        <section id="ind"><span>-->
<!--            <div  class="rounded" style="opacity: 0.75;background:#ffc107 ;color: black">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">ساختمان‌های صنعتی و عمومی</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->
<!--                            {% if item.genre == '4'%}-->
<!--                                <tr>-->
<!--                                  <th scope="row">|</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                      </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </span></section>-->


<!--        <section id="mass"><span>-->
<!--            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">انبوه سازی</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->

<!--                            {% if item.genre == '5' %}-->
<!--                                <tr>-->
<!--                                  <th scope="row">-</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                            </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </span></section>-->
<!--    </span></section>-->
<!--        <section id="road"><span>-->
<!--            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">-->
<!--                <div>-->
<!--                    <h1 class="title text-header">راه سازی</h1>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table text-white">-->
<!--                        {%for item in projects %}-->
<!--                            <tbody>-->
<!--                            {% if item.genre == '6' %}-->
<!--                                <tr>-->
<!--                                  <th scope="row">-</th>-->
<!--                                  <td><a class="text-warning"  href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>-->
<!--                                </tr>-->
<!--                            {% endif %}-->
<!--                      </tbody>-->
<!--                        {% endfor %}-->
<!--                      </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </span></section>-->
<!--    </div>-->
<!--    <script>-->
<!--        var mySlider = slider('.slides');-->
<!--    </script>-->
<!--{% endblock %}-->
<!--{% block footer %}{% endblock %}-->











































{% extends "tamamsazeh/base.html" %}
{% block projects %}text-warning{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/slider.css">
{% endblock %}
{% block content %}
    <script src="/static/js/slider.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
    <div class="slides">
        <section id="projects">
            <span>
{#                style=" justify-content: center; align-items: center; "#}
    <div class="h-100">
    <div class="col" style="opacity: 0.75;background: #ffc107; color: black">
        <br>
        <div class="container row align-content-start justify-content-center">
        <h1 class="text-center align-content-center" style=" font-size: 70pt ">Projects</h1>
        </div>
        <br>
        <br>
        <div class="container row ">
            <div class="widget col">
                <img src="/static/img/warranty.svg" height="60px" width="60px">
                <h2 >100+ Projects</h2>
            </div>
            <div class="widget col">
                <img src="/static/img/warranty.svg " height="60px" width="60px">
                <h2 >8 cities</h2>
            </div>
            <div class="widget col">
                <img src="/static/img/warranty.svg" height="60px" width="60px">
                <h2 >50+ staff</h2>
            </div>
        </div>
    </div>
    </div>

      </span></section>
        <section id="oil"><span>
            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">
                <div>
                    <h1 class="title">Oil, Gas and Petrochemical</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
<!--{#                          <thead>#}-->
<!--{#                        <tr>#}-->
<!--{#                          <th scope="col">   </th>#}-->
<!--{#                          <th scope="col">Title</th>#}-->
<!--{#                          <th scope="col"></th>#}-->
<!--{#                          <th scope="col"></th>#}-->
<!--{#                        </tr>#}-->
<!--{#                      </thead>#}-->
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '1' %}
                                <tr>
                                  <th scope="row">|</th>
                                  <td><a class="text-warning" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                      </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>

            </span></section>





        <section id="edu"><span>
            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">
                <div>
                    <h1 class="title">Educational and Cultural Structures</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '2' %}
                                <tr>
                                  <th scope="row">|</th>
                                  <td><a class="text-warning" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                      </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </span></section>








        <section id="str"><span>
            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">
                <div>
                    <h1 class="title">Steal Structures and Bridges</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '3' %}
                                <tr>
                                  <th scope="row">|</th>
                                  <td><a class="text-warning" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </span></section>
        <section id="ind"><span>
            <div  class="rounded" style="opacity: 0.75;background:#ffc107 ;color: black">
                <div>
                    <h1 class="title">Industrial and Civil Structure</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '4'%}
                                <tr>
                                  <th scope="row">|</th>
                                  <td><a class="text-dark" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                      </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </span></section>
        <section id="mass"><span>
            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">
                <div>
                    <h1 class="title">Mass production</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '5' %}
                                <tr>
                                  <th scope="row">|</th>
                                  <td><a class="text-warning" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </span></section>
    </span></section>
        <section id="road"><span>
            <div  class="text-white rounded" style="opacity: 0.8;background: black ;">
                <div>
                    <h1 class="title">Road constuction</h1>
                </div>
                <div>
                    <div class="table-responsive">
                      <table class="table text-white">
                        {%for item in projects %}
                            <tbody>
                            {% if item.genre == '6' %}
                                <tr>
                                  <th scope="row">|</th>
                                  <td ><a class="text-warning" href="/fa/projectView/{{item.id}}" >{{ item.Title }}</a></td>
                                </tr>
                            {% endif %}
                      </tbody>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </span></section>
    </div>
    </body>
    <style>
        section > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Vollkorn', serif;
        {#text-transform: uppercase;#} color: #fff;
        }

        #projects {
            background-image: url("/static/img/wallpaper/stairs.jpg");
            background-size: cover;
            background-position: bottom;
        }

        #oil {
        {#background: #343a40;#}
            background-image: url("/static/img/wallpaper/two.jpg");
            background-size: cover;
            background-position: bottom;

        }

        #edu {
            background-image: url("/static/img/wallpaper/steal.jpg");
            background-size: cover;

        }

        #str {
        {#background: linear-gradient(#f0bed4, #a163f5);#}
            background-image: url("/static/img/wallpaper/IMAG1612.jpg");
            background-size: cover;
            background-position: top left;
        }

        #ind {
            background: url("/static/img/wallpaper/ghatar.jpg ") left bottom;
            background-size: 1800px;
        }

        #mass {
            background: url("/static/img/wallpaper/background1.jpg") left bottom;
            background-size: 1800px;
        }

        #road {
            background: url("/static/img/wallpaper/background5.jpg") right top;
            background-size: 1800px;
        }

        .widget {
            margin-right: 20px;
            margin-left: 20px;
        }
        .title{
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
        }
    </style>
    <script>
        var mySlider = slider('.slides');
    </script>
{% endblock %}
{% block footer %}{% endblock %}